@media (max-width: 1440px) 
    .container
        width: 90%
    .logo
        width: 250px
    .header_navigation_menu
        width: 400px
        margin-left: 20px 
        &_item
            font-size: 16px 
    .btn
        width: 180px
        height: 40px
        font-size: 16px
    .title
        font-size: 30px
    .description
        &_wrapper
            max-width: 532px
            &_subtitle
                font-size: 16px
        &_text
            font-size: 16px
            height: 275px

    //main-page
    .info_wrapper_item
        width: 530px
    .info_descr_list_item
        font-size: 16px
    .first_slider_wrapper, .second_slider_wrapper, .third_slider_wrapper
        width: 970px
    .partners_title
        font-size: 24px
    .partners_slider_wrapper_cards_item
        width: 300px
        font-size: 16px
        border-radius: 5px
    
    //page-2
    .prodacts_slider_cards_item
        width: 530px
    .partners_title
        font-size: 24px
    .partners_slider_cards_item
        width: 300px
        font-size: 16px
        border-radius: 5px

    //page-3
    .about_text
        font-size: 16px

    //page-4
    .shemes_pictures_img
        width: 530px
        height: 480px
    
    
@media (max-width: 1200px)
    .logo
        width: 160px
    .header_navigation_menu
        width: 375px
        margin-left: 0px 
    .btn
        width: 160px
        height: 35px
        font-size: 14px
    .header_navigation_btn
        display: none
    .header_navigation_phone_numbers_num
        font-size: 14px
    .title
        font-size: 25px
    .description
        &_wrapper
            max-width: 438px
    .description_text
        padding: 20px
        font-size: 14px
    
    //main-page
    .info_wrapper_item
        width: 450px
    .prodacts_slider_wrapper
        width: 450px
        &_cards_item
            width: 450px
            border-radius: 5px
            font-size: 16px
    .prodacts_slider_btns_prev_icon
        width: 30px
    .partners_slider_btn_icon
        width: 30px
    .first_slider_wrapper, .second_slider_wrapper, .third_slider_wrapper
        width: 800px  
    .partners_slider_wrapper_cards
        width: 800px     
        &_item
            width: 260px    

    //page-2
    .projects_list_item
        width: 877px
        &_link
            font-size: 17px
    .prodacts_list_item_menu_item_link
        font-size: 18px
    .dropdown_bottom_1
        margin-bottom: 205px
    .dropdown_bottom_2
        margin-bottom: 197px
    .dropdown_bottom_3
        margin-bottom: 278px
    .dropdown_bottom_4
        margin-bottom: 332px

    //page-3
    .dropdown_menu_btn
        font-size: 17px
    .dropdown_menu_submenu_item
        font-size: 16px
    .dropdown_bottom 
        margin-bottom: 155px

    //page-4
    .specifications_descr
        font-size: 14px
    .table_indicators
        width: 877px
        font-size: 14px
    .shemes_pictures
        text-align: center
    .opportunities_list_item
        font-size: 14px
    
    //footer
    .footer_info
        &_title
            font-size: 24px
        &_text
            font-size: 16px
    .footer_workers
        font-size: 16px

@media (max-width: 991px)
    .main_block
        height: auto
    .container
        width: 95%
    .header_navigation_menu
        order: 3
        flex-direction: column
        width: 145px
        align-items: flex-end
        top: 55px
        position: fixed
        right: -100%
        transition: 0.6s all
        padding: 5px 20px 0px
        &_active
            right: 0
        &_item
            padding-right: 0
            border: none
            margin: 5px 0
    .hamburger
        display: block
        width: 26px
        height: 12px
        right: 20px
        span
            display: block
            height: 3px
            width: 100%
            background-color: #fff
            margin-bottom: 2px
            transition: 0.5s all
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)
    .title
        font-size: 20px
    .description
        height: auto
        margin: 115px 0px 35px 0px
    .description_wrapper
        width: 364px
        &_subtitle
            font-size: 14px
    .description_text
        font-size: 13px
        align-content: center
        flex-basis: content
        padding: 15px

    //main-page
    .info_block
        padding-top: 35px
        padding-bottom: 35px
    .info_descr_list_item
        font-size: 14px
    .prodacts_slider_wrapper
            width: 355px
            &_cards_item
                width: 355px
                font-size: 14px
    .info_btns
        flex-direction: column
        &_more
            margin-bottom: 20px
    .partners_title
        font-size: 14px
    .first_slider_wrapper, .second_slider_wrapper, .third_slider_wrapper
        width: 620px
    .partners_slider_wrapper_cards
        justify-content: space-around        
        &_item        
            width: 200px
            height: 150px
            font-size: 14px
            padding: 10px
            -webkit-hyphens: manual
            -moz-hyphens: manual
            -ms-hyphens: manual
            hyphens: manual

    //page-2
    .projects_block
        padding: 35px 0px
    .projects_list_item
        width: 729px
    .prodacts_list_item
        width: 665px
        &_menu
            width: 665px
    .btn-wrapper
        margin-top: 35px

    //page-3
    .about
        height: 100%
        margin-bottom: 35px
        margin-top: 55px
        &_text
            font-size: 14px
            margin-bottom: 15px
            margin-top: 35px
    .info_text
        font-size: 14px
    .dropdown
        &_menu_btn
            width: 665px
            font-size: 14px
        &_menu_submenu
            width: 665px
            &_item
                font-size: 14px
    .address_map_img
        height: 300px
    .dropdown_bottom 
        margin-bottom: 140px
    
    //page-4
    .specifications
        margin-top: 120px
    .table
        margin-bottom: 35px
        &_indicators
            width: 713px
            &_row_name
                width: 500px
    .opportunities
        margin-bottom: 35px    

    //footer
    .footer_info_text
        font-size: 14px
    .footer_workers
        font-size: 14px
    .developed
        font-size: 14px

@media (max-width: 767px)
    .main_block
        max-height: 100%
        padding-bottom: 35px
    .header
        padding: 10px 0px 50px 0px
    .header_navigation_menu
        top: 35px
    .description
        flex-direction: column
        justify-content: center
        &_wrapper
            width: 100%
            margin: 0 auto
            &_subtitle
                text-align: center
            &_btns
                display: flex
                justify-content: space-around
    .title
        text-align: center
        margin-top: 0
        margin-bottom: 10px
    .description_wrapper_subtitle
        margin-bottom: 10px
    .description_text
        padding: 5px
        margin: 25px 0px
    
    //main-page
    .info_block
        padding: 40px 0px
    .info_wrapper
        flex-direction: column
        margin: auto
    .info_btns_contact
        display: none
    .prodacts_slider_btns
        margin-bottom: 10px
    .prodacts_slider_wrapper
        margin: auto
        &_cards_item
            padding: 20px
            height: 220px
    .first_slider_wrapper, .second_slider_wrapper, .third_slider_wrapper
        width: 460px
    .partners_slider_wrapper_cards_item
            width: 215px
            font-size: 14px
    
    //page-2
    .projects_block
        padding-top: 35px
        padding-bottom: 35px
    .projects_list_item
        width: 540px
        padding: 0px 20px
        &_link
            font-size: 14px
    .arrow-icon
        width: 80px
    .prodacts_list_item
        width: 485px
        &_menu
            width: 485px
            &_item_link
                font-size: 14px
        &_btn
            font-size: 14px
    .dropdown_bottom_1
        margin-bottom: 290px
    .dropdown_bottom_2
        margin-bottom: 188px
    .dropdown_bottom_3
        margin-bottom: 265px
    .dropdown_bottom_4
        margin-bottom: 392px  

    //page-3
    .about
        &_text
            margin-top: 20px
            text-align: center
        &_btn
            margin-top: 35px
    .info_text
        margin-bottom: 10px
    .dropdown
        margin-bottom: 10px
        &_menu_btn
            width: 470px
            padding: 0px 10px
        &_menu_submenu
            width: 470px
    .dropdown_bottom
        margin-bottom: 157px
    .address_map_img
        height: 200px    

    //page-4
    .specifications_descr
        text-align: center
    .table_indicators
        width: 547px
        &_row_name
            width: 370px
    .scheme_block
        padding: 35px 0px
    
    //footer
    .footer
        padding: 30px 0px
    .footer_info > .title
        text-align: start
        font-size: 16px
    .footer_info_text
        font-size: 12px
    .footer_workers
        font-size: 12px
    .developed
        padding: 10px 0px
        font-size: 12px

@media (max-width: 575px)
    .header
        padding: 10px 0px 130px 0px
        &_navigation_phone
            display: none
    .description
        margin: 25px 0px 35px 0px

    //main-page
    .info_wrapper_item
        width: auto
    .info_btns
        display: flex
        flex-direction: row
        justify-content: center
        &_more
            margin-right: 0    
    .prodacts_slider_wrapper
        width: 300px
        &_cards_item
            padding: 10px
            height: 200px
    .first_slider_wrapper, .second_slider_wrapper, .third_slider_wrapper
        width: 300px
    .partners_slider_wrapper_cards_item
        width: 175px
    
    //page-2
    .projects_list_item
        width: 304px
        padding: 0px 5px
        margin-bottom: 10px
        &_link
            font-size: 11px
    .arrow-icon
        width: 45px
    .prodacts_list_item
        width: 300px
        margin-top: 10px
        &_btn
            font-size: 11px
            padding: 0px 5px
        &_menu
            width: 300px
            &_item_link
                font-size: 11px
    .dropdown_bottom_1
        margin-bottom: 341px
    .dropdown_bottom_2
        margin-bottom: 163px
    .dropdown_bottom_3
        margin-bottom: 316px
    .dropdown_bottom_4
        margin-bottom: 520px

    //page-3
    .about
        margin-top: 20px
    .dropdown_menu
        &_btn
            width: 225px
            padding: 0px 5px
            font-size: 11px
        &_submenu
            width: 225px
            &_item
                font-size: 11px
    .dropdown_bottom
        margin-bottom: 208px
        
    //page-4
    .specifications
        margin-top: 25px
    .table_indicators
        width: 300px
        font-size: 11px
        &_row_name
            width: 200px
    .shemes_pictures_img
        width: 300px
        height: 300px
    
    //footer
    .footer_info_text
        margin-bottom: 10px
    .footer_workers_email
        margin-bottom: 10px