*
    font-family: Open Sans, sans-serif
    box-sizing: border-box

@import "variables"
@import "_mixin"

.container
    @include container-size

.btn
    @include btn

.arrow_btn
    @include arrow-btn

//main_block
.main_block
    background: url(../img/bg-main-page2.png) no-repeat center
    @include block-size

.header
    padding-top: 30px

.hamburger
    display: none   

.header_navigation
    display: flex
    justify-content: space-between
    align-items: center
    &_menu
        margin-left: 60px
        display: flex
        justify-content: space-between
        width: 600px
        &_item
            text-decoration: none
            color: $text-color-first
            font-style: normal
            font-weight: normal
            font-size: 20px
            &:hover
                color: $btn-color-red
                transition: 0.5s
    &_btn
        &_red
            background-color: $btn-color-red
            color: $text-color-first
            &:hover
                background-color: $btn-color-dark-red
                transition: 0.5s

    &_phone
        display: flex
        justify-content: space-between
        &_icon
            padding-right: 10px
        &_numbers
            display: flex
            flex-direction: column
            &_num
                color: $text-color-first
                text-decoration: none
                &:hover
                    color: $btn-color-red
                    transition: 0.5s

.title
    font-style: normal
    font-weight: bold
    font-size: 36px
    margin-bottom: 35px

.description    
    height: 100vh
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    &_wrapper        
        max-width: 725px
        display: flex
        flex-direction: column
        justify-content: center
        color: $text-color-first
        &_subtitle
            font-weight: normal
            font-size: 20px
            margin-bottom: 35px
        &_btns
            &_more
                background-color: $btn-color-red
                margin-right: 15px
                &:hover
                    background-color: $btn-color-dark-red                    
            &_contacts
                background-color: $btn-color-grey
                &:hover
                    background-color: rgba(105, 105, 105, 1)
    &_text        
        height: 375px
        max-width: 712px
        text-align: right
        background-color: $btn-color-grey
        border-radius: 5px
        padding: 30px
        font-size: 16px
        flex-basis: content

//projects_block
.projects_block
    background: linear-gradient(180deg, rgba(22, 67, 78, 0.24) 72.4%, rgba(58, 93, 111, 0) 100%)
    padding-top: 80px
    padding-bottom: 80px

.projects    
    &_title
        font-weight: bold
        font-size: 36px
        margin-bottom: 35px
    &_list
        margin: 0 auto
        color: $text-color-first
        &_item
            display: flex
            align-items: center
            justify-content: space-between
            width: 1070px
            height: 60px
            background-color: #051C33
            border-radius: 5px
            margin-bottom: 35px
            padding: 0px 30px
            &:hover
                background-color: #15406b
                transition: 0.5s
                box-shadow: 0 0 10px rgba(0,0,0,0.7)
            &_text
                font-weight: bold
                font-size: 20px

.prodacts
    // margin: 0 auto
    &_list
        list-style: none              
        color: $text-color-first
        &_item
            margin-top: 35px
            width: 800px
            &:first-child
                margin-top: 0
            &_link
                display: flex       
                justify-content: space-between
                align-items: center         
                text-decoration: none
                color: $text-color-first
                font-weight: bold
                font-size: 20px
                // width: 800px
                height: 60px
                // position: relative
                background-color: #051C33
                border-radius: 5px
                padding: 0px 30px                
                &:hover
                    color: $text-color-first
                    background-color: #15406b
                    transition: all 0.5s
                    box-shadow: 0 0 10px rgba(0,0,0,0.7)                    
            &_menu
                display: none
                position: absolute
                top: auto
                right: 190px
                width: 800px
                background-color: #051C33
                border-radius: 5px
                padding: 0px 30px
                margin-bottom: 35px
                &_item                    
                    &_link
                        text-decoration: none
                        color: $text-color-first
                        font-size: 20px
                        &:hover
                            color: $btn-color-red
                            transition: all 0.5s
            &:hover > .prodacts_list_item_menu
                display: block

.projects_btn
    margin: 0 auto
    margin-top: 80px
    &_back
        background-color: $btn-color-red
        &:hover
            background-color: $btn-color-dark-red
        &_link
            text-decoration: none
            color: $text-color-first
            &:hover
                color: $text-color-first
            
//footer
.footer_block
    height: 100%
    background: url(../img/bg-footer.png) no-repeat center
    background-size: cover

.footer
    color: $text-color-first
    display: flex
    justify-content: space-between
    padding: 80px 0px
    &_info
        width: 750px
        font-weight: bold
        &_title            
            font-size: 30px
            margin-bottom: 80px
        &_text
            font-size: 20px
            margin-bottom: 35px
    &_workers
        width: 490px
        font-size: 20px
        text-align: right
        &_position
            font-weight: bold
        &_phone
            &_num
                text-decoration: none
                color: $text-color-first
                &:hover
                    color: $btn-color-red
                    transition: 0.5s
        &_email
            margin-bottom: 35px
            &:last-child
                margin-bottom: 0px
        
.subfooter
    background-color: #000000

.developed
    display: flex
    justify-content: center
    padding: 25px 0px
    font-weight: bold
    font-size: 20px
    color: $text-color-first
    &_text
        margin-right: 15px
    &_link
        &_icon
            text-decoration: none
            color: $text-color-first
            &:hover
                color: $btn-color-red
                transition: 0.5s

@import "media"
    
//MEDIA
// @media (max-width: 1440px) 
//     .container
//         width: 90%
//     .logo
//         width: 250px
//     .header_navigation_menu
//         width: 400px
//         margin-left: 20px 
//         &_item
//             font-size: 16px 
//     .btn
//         width: 180px
//         height: 40px
//         font-size: 16px
//     .title
//         font-size: 30px
//     .description
//         &_wrapper
//             max-width: 532px
//             &_subtitle
//                 font-size: 16px
//         &_text
//             font-size: 16px
//             height: 275px    
//     .prodacts_slider_cards_item
//         width: 530px
//     .partners_title
//         font-size: 24px
//     .partners_slider_cards_item
//         width: 300px
//         font-size: 16px
//         border-radius: 5px

// @media (max-width: 1200px)
//     .logo
//         width: 160px
//     .header_navigation_menu
//         width: 375px
//         margin-left: 0px 
//     .btn
//         width: 160px
//         height: 35px
//         font-size: 14px
//     .header_navigation_btn
//         display: none
//     .header_navigation_phone_numbers_num
//         font-size: 14px
//     .title
//         font-size: 25px
//     .description
//         &_wrapper
//             max-width: 438px
//     .description_text
//         padding: 20px
//         font-size: 14px
//     .projects_list_item
//         width: 877px
//         &_text
//             font-size: 17px
//     .prodacts_list_item_menu
//         right: 94px
//         &_item_link
//             font-size: 18px
//     .footer_info
//         &_title
//             font-size: 24px
//         &_text
//             font-size: 16px
//     .footer_workers
//         font-size: 16px

// @media (max-width: 991px)
//     .container
//         width: 95%
//     .header_navigation_menu
//         order: 3
//         flex-direction: column
//         width: 145px
//         align-items: flex-end
//         top: 55px
//         position: fixed
//         right: -100%
//         transition: 0.6s all
//         padding: 5px 20px 0px
//         &_active
//             right: 0
//         &_item
//             padding-right: 0
//             border: none
//             margin: 5px 0
//     .hamburger
//         display: block
//         width: 26px
//         height: 12px
//         right: 20px
//         span
//             display: block
//             height: 3px
//             width: 100%
//             background-color: #fff
//             margin-bottom: 2px
//             transition: 0.5s all
//         &_active
//             span
//                 margin-bottom: -2px
//                 &:nth-child(1)
//                     transform: translateY(3px) rotate(-45deg)
//                 &:nth-child(2)
//                     display: none
//                 &:nth-child(3)
//                     transform: translateY(3px) rotate(45deg)
//     .title
//         font-size: 20px
//     .description_wrapper
//         width: 364px
//         &_subtitle
//             font-size: 14px
//     .description_text
//         font-size: 13px
//         align-content: center
//         flex-basis: content
//         padding: 15px
//     .projects_list_item
//         width: 729px
//     .prodacts_list_item
//         width: 665px
//         &_menu
//             right: 52px
//             width: 665px
//     .footer_info_text
//         font-size: 14px
//     .footer_workers
//         font-size: 14px
//     .developed
//         font-size: 14px

// @media (max-width: 767px)
//     .main_block
//         max-height: 100%
//         padding-bottom: 35px
//     .header
//         padding: 10px 0px 50px 0px
//     .header_navigation_menu
//         top: 35px
//     .description
//         flex-direction: column
//         justify-content: center
//         &_wrapper
//             width: 100%
//             margin: 0 auto
//             &_subtitle
//                 text-align: center
//             &_btns
//                 display: flex
//                 justify-content: space-around
//     .title
//         text-align: center
//         margin-top: 0
//         margin-bottom: 10px
//     .description_wrapper_subtitle
//         margin-bottom: 10px
//     .description_text
//         padding: 5px
//         margin: 25px 0px
//     .projects_block
//         padding-top: 35px
//         padding-bottom: 35px
//     .projects_list_item
//         width: 540px
//         padding: 0px 20px
//         &_text
//             font-size: 14px
//     .arrow-icon
//         width: 80px
//     .prodacts_list_item
//         width: 485px
//         &_menu
//             right: 45px
//             width: 485px
//             &_item_link
//                 font-size: 14px
//         &_link
//             font-size: 14px
//     .projects_btn
//         margin-top: 35px
//     .footer
//         padding: 30px 0px
//     .footer_info > .title
//         text-align: start
//         font-size: 16px
//     .footer_info_text
//         font-size: 12px
//     .footer_workers
//         font-size: 12px
//     .developed
//         padding: 10px 0px
//         font-size: 12px

// @media (max-width: 575px)
//     .header
//         padding: 10px 0px 130px 0px
//         &_navigation_phone
//             display: none
//     .description
//         height: 100%
//     .projects_list_item
//         width: 304px
//         padding: 0px 5px
//         margin-bottom: 10px
//         &_text
//             font-size: 11px
//     .arrow-icon
//         width: 45px
//     .prodacts_list_item
//         width: 245px
//         margin-top: 10px
//         &_link
//             font-size: 11px
//             padding: 0px 5px
//         &_menu
//             right: 35px
//             width: 245px
//             &_item_link
//                 font-size: 11px
//     .footer_info_text
//         margin-bottom: 10px
//     .footer_workers_email
//         margin-bottom: 10px