*
    font-family: Open Sans, sans-serif
    box-sizing: border-box

@import "variables"
@import "mixin"

.container
    +container-size

.btn
    +btn

.arrow_btn
    +arrow-btn

//main_block
.main_block    
    background: url(../img/bg-main-page.png) no-repeat center
    +block-size

.header
    padding-top: 30px

.hamburger
    display: none

.header_navigation
    display: flex
    justify-content: space-between
    align-items: center
    &_menu
        margin-left: 60px
        display: flex
        justify-content: space-between
        width: 600px
        &_item
            text-decoration: none
            color: $text-color-first
            font-size: 20px
            +text-hover
    &_btn
        &_red
            background-color: $btn-color-red
            &:hover
                background-color: $btn-color-dark-red
    &_phone
        display: flex
        justify-content: space-between
        &_icon
            padding-right: 10px
        &_numbers
            display: flex
            flex-direction: column
            &_num
                color: $text-color-first
                text-decoration: none
                +text-hover

.title
    font-style: normal
    font-weight: bold
    font-size: 36px
    margin-bottom: 35px

.description    
    height: 100vh
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    text-align: justify
    &_wrapper        
        max-width: 725px
        display: flex
        flex-direction: column
        justify-content: center
        color: $text-color-first        
        &_subtitle
            font-size: 20px
            margin-bottom: 35px
        &_btns
            &_more
                background-color: $btn-color-red
                margin-right: 15px
                &:hover
                    background-color: $btn-color-dark-red                    
            &_contacts
                background-color: $btn-color-grey
                &:hover
                    background-color: rgba(105, 105, 105, 1)
                &_btn
                    text-decoration: none
                    color: $text-color-first
                    &:hover
                        color: $text-color-first
    &_text        
        height: 265px
        max-width: 712px
        text-align: right
        background-color: $btn-color-grey
        border-radius: 5px
        padding: 30px
        font-size: 20px
        flex-basis: content
        +fade

.fade
    animation-name: fade
    animation-duration: 1.5s

.show
    display: block
.hide
    display: none

//info_block
.info_block
    background: linear-gradient(180deg, rgba(22, 67, 78, 0.24) 72.4%, rgba(58, 93, 111, 0) 100%)
    padding: 80px 0px

.info_wrapper
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    &_item
        width: 620px

.info
    &_descr
        &_list
            &_item
                padding-bottom: 15px
                font-size: 20px
    &_btns
        display: flex
        justify-content: space-between
        &_more
            width: 280px
            height: 50px
            background-color: $btn-color-red
            &:hover
                background-color: $btn-color-dark-red
            &_link
                text-decoration: none
                color: $text-color-first
                &:hover
                    color: $text-color-first
        &_contact
            width: 280px
            height: 50px
            background-color: $btn-color-grey
            &:hover
                background-color: rgba(105, 105, 105, 1)

.prodacts
    &_slider
        position: relative
        &_btns
            display: flex
            justify-content: flex-end
            margin-bottom: 35px
        &_wrapper            
            overflow: hidden
            width: 620px
            height: 250px
            &_cards
                display: flex
                transition: 0.5s all
                &_item
                    display: flex
                    align-items: center
                    padding: 45px
                    height: 250px
                    background: url(../img/slider-cards-prodacts.png) no-repeat center
                    border-radius: 5px
                    font-size: 20px
                    text-align: center
                    color: $text-color-first

//partners_block
.partners_block
    height: 100%

.partners
    &_title
        font-weight: bold
        font-size: 30px
    &_slider
        display: flex
        flex-direction: row
        justify-content: space-between
        &_cards
            display: flex
            align-content: 
            margin-bottom: 80px
            margin-top: 35px  
            width: 1270px        
            justify-content: space-between       
            &_item    
                display: flex
                align-items: center
                justify-content: center            
                width: 360px
                height: 180px
                font-weight: bold
                font-size: 24px
                text-align: center
                color: $text-color-first
                padding: 15px

.tomsk_partners
    background: url(../img/bg-slider-tomsk.png) no-repeat center

.msk_partners
    background: url(../img/bg-slider-msk.png) no-repeat center

.kz_partners
    background: url(../img/bg-slider-kz.png) no-repeat center

//footer
.footer_block
    height: 100%
    background: url(../img/bg-footer.png) no-repeat center
    background-size: cover

.footer
    color: $text-color-first
    display: flex
    justify-content: space-between
    padding: 80px 0px
    &_info
        width: 750px
        font-weight: bold
        &_title            
            font-size: 30px
            margin-bottom: 80px
        &_text
            font-size: 20px
            margin-bottom: 35px
    &_workers
        width: 490px
        font-size: 20px
        text-align: right
        &_position
            font-weight: bold
        &_phone
            &_num
                text-decoration: none
                color: $text-color-first
                +text-hover
        &_email
            margin-bottom: 35px
            &:last-child
                margin-bottom: 0px
        
.subfooter
    background-color: #000000

.developed
    display: flex
    justify-content: center
    padding: 25px 0px
    font-weight: bold
    font-size: 20px
    color: $text-color-first
    &_text
        margin-right: 15px
    &_link
        &_icon
            text-decoration: none
            color: $text-color-first
            +text-hover

@import "media"